<<<<<<< HEAD
@font-face {
  @import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
}

@font-face {
  font-family: bahnshrift;
  src: url(bahnschrift.ttf);
  /*src: url(fonts/hurtmold.ttf),
    src: url(fonts/hurtmold.woof),
    src: url(fonts/hurtmold.woof2);*/
}


body {
  background: rgb(255, 255, 255);
  background: -moz-radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%);
  background: -webkit-radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%);
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#e4e4e4", GradientType=1);
  width: 95%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.name {
  letter-spacing: 1px;
  font-family: 'Krona One', sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 3em;
  color: #5c1500
}

.box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: 'Roboto Mono', monospace;
  background-color: #ffa500;
  -webkit-box-shadow: 0px 0px 14px 18px #FFA500;
  box-shadow: 0px 0px 14px 18px #FFA500;
  border-radius: 30px;
  text-align: center;
  font-family: bahnshrift;
  width: 70%;
}

#profile_img {

  border-radius: 30px;
  -webkit-box-shadow: 5px 5px 15px 5px #A3A3A3;
  box-shadow: 5px 5px 15px 5px #A3A3A3;
  height: auto;
  max-width: 250px;
  position: relative;
  margin: 30px 25px 30px 25px;
  float: right;

}

nav {

  text-align: center;
  text-decoration: none;

}

nav a {
  text-decoration: none;
}

.main {
  overflow: auto;
}

.left {
  word-wrap: break-word;
  width: 60%;
  float: left;
  margin-top: 30px;
}

.lesson_title_box {
  text-align: center;
  font-size: 1.8em;
  font-family: bahnshrift;
  color: rgb(95, 95, 95);
}

.lesson_link_box {
  background-color: #6fcaff;
  -webkit-box-shadow: 0px 0px 8px 7px #6FCAFF;
  box-shadow: 0px 0px 8px 7px #6FCAFF;
  font-size: 1.4em;
  margin-left: 3%;

  border-radius: 10px;
  font-family: bahnshrift;
  font-weight: 100;
  height: 33px;
  color: darkblue;
  margin-top: 5px;
  margin-bottom: 5px;
}

.lesson_link_text {

  display: block;
  position: relative;
  left: 20px;
  top: 4px;
  text-decoration: none;
}

.lesson_link_text:visited {
  color: darkblue;
}

.lesson_link_box:hover {
  background-color: cyan;
  -webkit-box-shadow: 0px 0px 8px 7px cyan;
  box-shadow: 0px 0px 8px 7px cyan;
}

.grid-container {
  margin-top: 70px;
  display: grid;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;

}

.grid-item {
  margin-left: auto;
  margin-right: auto;
  min-width: 40%;
  width: 90%;
  word-wrap: break-word;
  justify-content: center;
  font-family: 'Roboto Mono', monospace;
  grid-template-columns: 1fr 1fr 1fr;
}

.item1 {
  grid-column: 1;
  grid-row: 1 / span 1;
  -webkit-box-shadow: 0px 0px 4px 5px #1D77CC;
  box-shadow: 0px 0px 4px 5px #1D77CC;
  border-radius: 20px;
}

.item2 {
  grid-column: 2;
  grid-row: 1 / span 1;
  -webkit-box-shadow: 0px 0px 4px 5px #1D77CC;
  box-shadow: 0px 0px 4px 5px #1D77CC;
  border-radius: 20px;

}

.item3 {
  grid-column: 3;
  grid-row: 1 / span 1;
  -webkit-box-shadow: 0px 0px 4px 5px #1D77CC;
  box-shadow: 0px 0px 4px 5px #1D77CC;
  border-radius: 20px;
}



.item4 {
  min-width: 200px;
  max-width: 350px;
  grid-column: 1;
  grid-row: 2 / span 1;
  margin-top: 30px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 4px 5px #1D77CC;
  box-shadow: 0px 0px 4px 5px #1D77CC;
  height: 300px;
  
}

.item5 {
  min-width: 200px;
  max-width: 350px;
  grid-column: 2;
  grid-row: 2 / span 1;
  margin-top: 30px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 4px 5px #1D77CC;
  box-shadow: 0px 0px 4px 5px #1D77CC;
  height: 300px;
}

.item6 {
  min-width: 200px;
  max-width: 350px;
  grid-column: 3;
  grid-row: 2 / span 1;
  margin-top: 30px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 4px 5px #1D77CC;
  box-shadow: 0px 0px 4px 5px #1D77CC;
  height: 300px;
}

.desc {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
=======
@font-face {
  @import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
}

@font-face {
  font-family: bahnshrift;
  src: url(bahnschrift.ttf);
  /*src: url(fonts/hurtmold.ttf),
    src: url(fonts/hurtmold.woof),
    src: url(fonts/hurtmold.woof2);*/
}


body {
  background: rgb(255, 255, 255);
  background: -moz-radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%);
  background: -webkit-radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%);
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#e4e4e4", GradientType=1);
  width: 95%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.name {
  letter-spacing: 1px;
  font-family: 'Krona One', sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 3em;
  color: #5c1500
}

.box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: 'Roboto Mono', monospace;
  background-color: #ffa500;
  -webkit-box-shadow: 0px 0px 14px 18px #FFA500;
  box-shadow: 0px 0px 14px 18px #FFA500;
  border-radius: 30px;
  text-align: center;
  font-family: bahnshrift;
  width: 70%;
}

#profile_img {

  border-radius: 30px;
  -webkit-box-shadow: 5px 5px 15px 5px #A3A3A3;
  box-shadow: 5px 5px 15px 5px #A3A3A3;
  height: auto;
  max-width: 250px;
  position: relative;
  margin: 30px 25px 30px 25px;
  float: right;

}

nav {

  text-align: center;
  text-decoration: none;

}

nav a {
  text-decoration: none;
}

.main {
  overflow: auto;
}

.left {
  word-wrap: break-word;
  width: 60%;
  float: left;
  margin-top: 30px;
}

.lesson_title_box {
  text-align: center;
  font-size: 1.8em;
  font-family: bahnshrift;
  color: rgb(95, 95, 95);
}

.lesson_link_box {
  background-color: #6fcaff;
  -webkit-box-shadow: 0px 0px 8px 7px #6FCAFF;
  box-shadow: 0px 0px 8px 7px #6FCAFF;
  font-size: 1.4em;
  margin-left: 3%;

  border-radius: 10px;
  font-family: bahnshrift;
  font-weight: 100;
  height: 33px;
  color: darkblue;
  margin-top: 5px;
  margin-bottom: 5px;
}

.lesson_link_text {

  display: block;
  position: relative;
  left: 20px;
  top: 4px;
  text-decoration: none;
}

.lesson_link_text:visited {
  color: darkblue;
}

.lesson_link_box:hover {
  background-color: cyan;
  -webkit-box-shadow: 0px 0px 8px 7px cyan;
  box-shadow: 0px 0px 8px 7px cyan;
}

.grid-container {
  margin-top: 70px;
  display: grid;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;

}

.grid-item {
  margin-left: auto;
  margin-right: auto;
  min-width: 40%;
  width: 90%;
  word-wrap: break-word;
  justify-content: center;
  font-family: 'Roboto Mono', monospace;
  grid-template-columns: 1fr 1fr 1fr;
}

.item1 {
  grid-column: 1;
  grid-row: 1 / span 1;
  -webkit-box-shadow: 0px 0px 4px 5px #1D77CC;
  box-shadow: 0px 0px 4px 5px #1D77CC;
  border-radius: 20px;
}

.item2 {
  grid-column: 2;
  grid-row: 1 / span 1;
  -webkit-box-shadow: 0px 0px 4px 5px #1D77CC;
  box-shadow: 0px 0px 4px 5px #1D77CC;
  border-radius: 20px;

}

.item3 {
  grid-column: 3;
  grid-row: 1 / span 1;
  -webkit-box-shadow: 0px 0px 4px 5px #1D77CC;
  box-shadow: 0px 0px 4px 5px #1D77CC;
  border-radius: 20px;
}



.item4 {
  min-width: 200px;
  max-width: 350px;
  grid-column: 1;
  grid-row: 2 / span 1;
  margin-top: 30px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 4px 5px #1D77CC;
  box-shadow: 0px 0px 4px 5px #1D77CC;
  height: 300px;
  
}

.item5 {
  min-width: 200px;
  max-width: 350px;
  grid-column: 2;
  grid-row: 2 / span 1;
  margin-top: 30px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 4px 5px #1D77CC;
  box-shadow: 0px 0px 4px 5px #1D77CC;
  height: 300px;
}

.item6 {
  min-width: 200px;
  max-width: 350px;
  grid-column: 3;
  grid-row: 2 / span 1;
  margin-top: 30px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 4px 5px #1D77CC;
  box-shadow: 0px 0px 4px 5px #1D77CC;
  height: 300px;
}

.desc {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
>>>>>>> d08d44be9622de1fc454340a954d432227189462
}