@media only screen and (max-width: 1024px) {
  body {
    width: 100%;
  }


  .item1 {
    grid-column: 1;
    grid-row: 1 / span 1;
  }

  .item2 {
    grid-column: 2;
    grid-row: 1 / span 1;
  }

  .item3 {
    grid-column: 1;
    grid-row: 3 / span 1;



  }



  .item4 {
    grid-column: 1;
    grid-row: 2 / span 1;
  }

  .item5 {
    grid-column: 2;
    grid-row: 2 / span 1;
  }

  .item6 {
    grid-column: 1;
    grid-row: 4 / span 1;

  }
}