@font-face
	{
		font-family: hurtmold;
		src: url(hurtmold.otf);
		/*src: url(fonts/hurtmold.ttf),
		src: url(fonts/hurtmold.woof),
		src: url(fonts/hurtmold.woof2);*/
	}

  @font-face
	{
		font-family: bahnshrift;
		src: url(bahnschrift.ttf);
		/*src: url(fonts/hurtmold.ttf),
		src: url(fonts/hurtmold.woof),
		src: url(fonts/hurtmold.woof2);*/
	}


body {
    background: rgb(255,255,255);
    background: -moz-radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(228,228,228,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(228,228,228,1) 100%);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(228,228,228,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#e4e4e4",GradientType=1);
    max-width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  #name {
    letter-spacing: .1 em;
    font-family: hurtmold;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 3em;
    color: #5c1500
  }

  .box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: Helvetica, sans-serif;
    background-color: #ffa500;
    -webkit-box-shadow: 0px 0px 14px 18px #FFA500; 
    box-shadow: 0px 0px 14px 18px #FFA500;
    border-radius: 30px;
    
  }

  #profile_img {
    
    border-radius: 30px;
    -webkit-box-shadow: 5px 5px 15px 5px #A3A3A3; 
    box-shadow: 5px 5px 15px 5px #A3A3A3;
    height: auto;
    max-width: 250px;
    position: relative;
    margin: 30px 25px 30px 25px;
    float: right;
    
  }

  nav{

    text-align: center;
    text-decoration: none;

  }
  nav a{
    text-decoration: none;
  }

  .nav_link{
    margin-left: 15px;
    margin-right: 15px;
  }

  .main
  {
      overflow: auto;

  }
  .left
  {
    word-wrap: break-word;
    width: 60%;
    float: left;
    margin-top: 30px;
  }
  .lesson_title_box
  {
    text-align: center;
    font-size: 1.8em;
    font-family: bahnshrift;
    color: rgb(95, 95, 95);
  }

  .lesson_link_box
  {
    background-color: #6fcaff;
    -webkit-box-shadow: 0px 0px 8px 7px #6FCAFF; 
    box-shadow: 0px 0px 8px 7px #6FCAFF;
    font-size: 1.6em;
    margin-left: 5%;
    border-radius: 10px;
    font-family: bahnshrift;
    font-weight: 100;
    height: 33px;
    color: darkblue;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .lesson_link_text
  {
    
    display: block;
    position: relative;
    left: 20px;
    text-decoration: none;
  }

  .lesson_link_text:visited
  {
    color: darkblue;
  }
   .lesson_link_text:hover
  {
    color: green;
  }

  .box
  {
    text-align: center;
    font-family: bahnshrift;
    
  }

  #year_clock
  {
   
  }