<<<<<<< HEAD
@media only screen and (max-width: 1216px)
{
    body{
        width: 85%;
    }

    nav ul { 
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    }
    nav ul li a
    {
        font-size: 1.3em;
        border: 1px solid #0c0d33;
    }
    #saturday_event
    {
        width: 100%;
    }

    .weather_today
    {
        top: 5%;
    }

    .column
    {
        margin-top: 20px;
    }
=======
@media only screen and (max-width: 1216px)
{
    body{
        width: 85%;
    }

    nav ul { 
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    }
    nav ul li a
    {
        font-size: 1.3em;
        border: 1px solid #0c0d33;
    }
    #saturday_event
    {
        width: 100%;
    }

    .weather_today
    {
        top: 5%;
    }

    .column
    {
        margin-top: 20px;
    }
>>>>>>> d08d44be9622de1fc454340a954d432227189462
}