@media only screen and (max-width: 896px)
{
    body
    {
        width: 95%;
    }

    nav { 
        
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }

      nav ul
      {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        font-size: 1.7em;
        
      }

      nav li{
        display: none;
      }

      nav ul li a
      {
        height: 60px;
        border: 1px solid #0c0d33;
        font-size: 1em;
      }

 
      .li_text
      {
        position: relative;
        top: 13px;
      }

      .mobile
      {
          display: block;
          background-color: rgb(29, 33, 53);
          
      }

      .ham
      {
        display: block;
        
        background-color: rgb(46, 46, 46);
      }
      
      .ham_text
      {
        outline: 0px;
        position: relative;
        top: 10px;
      }



      nav li:first-child {
        display: block;
        
      }

      .responsive li {
        display: block;
      }

      .main_margins
      {
        width: 90%;
        
      }

      .main_info_li a
      {
        font-size: 1.3em;
        height: 60px;
      }

      .footer_info
      {
        font-size: 1.2em;
        height: 70px;
        position: relative;
        top: 10px;
      }

      .event_icon
      {
        left: 2px;
        float: none;
      }

      .event_text
      {
        top: 10px;
      }

      #saturday_event
      {
        height: 230px;
      }

      .weather_report
      {
        width: 93%;
        height: 350px;
        left: 0%;
        right: 0%;
      }


      .weather_today
      {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        left: 7%;
        height: 60%;
       
      }

      .weather_today ul
      {
        font-size: 1.2em;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
      }

      .weather_today ul
      {
        position: relative;
        left: 8px;
      }

      .col-head
      {
        font-size: 1.7em;
      }

      #main_image
      {
        margin-bottom: 50px;
      }

      .weather_today li
      {
       position: relative;
       left: 10%;
      }

      .article_img_right
      {
        float: none;
        display: block;      
        padding-left: 0px;
        width: 100%; /* width of container */
        height: 350px; /* height of container */
        object-fit: cover;
        object-position: 0% 100%; /* try 20px 10px */ 
        
      }

      .uppper_footer
      {
       height: 700px;
       
      }

      .map
      {
        width: 80%;
        height: 400px;
        display: block;
        margin-left: 8%;
        
        text-align: center;
      
      }
      .uppper_footer_text
      {
        position: relative;
    
        text-align: center;
        font-size: 1.2em;
        
        
      }

      .uppper_footer li
      {
        position: relative;
        right: 15px;
      }
}


/*To whoever is correcting this:

I don't know if you allow a "super_small.css" file, so I'm putting
the super small attributes here*/
@media only screen and (max-width: 630px)
{
    #sun
    {
        width: 70px;
        height: auto;
    }

    .name
    {
        font-size: 3em;
    }

    .box
    {
        height: 130px;
    }

    .motto
    {
        position: relative;
        left: 20px;
    }

    .weather_report
    {
      top: 30px;
      height: 290px;
    }

    .event_text
    {
      font-size: .9em;
    }

    .main_image_area
    {
      margin-top: -30px;
    }
    
    .column-col {
      height: 250px;
    }

    .col-head {
      font-size: 1.5em;
    }

    .weather_today li
    {
      margin-top: 0px;
      margin-bottom: 0px;
      left: -6%;
    }

    .weather_today ul
    {
      font-size: 1.1em;
    }
    #main_image
    {
      margin-top: 20px;
    }
    .map
    {
      width: 90%;
      margin-left: 0%;
    }
}

