@media only screen and (max-width: 896px)
{
    body
    {
        width: 95%;
    }

    nav { 
        
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }

      nav ul
      {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        font-size: 1.7em;
        
      }

      nav li{
        display: none;
      }

      nav ul li a
      {
        height: 60px;
        border: 1px solid #0c0d33;
        font-size: 1em;
      }

 
      .li_text
      {
        position: relative;
        top: 13px;
      }

      .mobile
      {
          display: block;
          background-color: rgb(29, 33, 53);
          
      }

      .ham
      {
        display: block;
        
        background-color: rgb(46, 46, 46);
      }
      
      .ham_text
      {
        outline: 0px;
        position: relative;
        top: 10px;
      }



      nav li:first-child {
        display: block;
        
      }

      .responsive li {
        display: block;
      }

      .main_margins
      {
        width: 100%;
        margin-left: -20px;
      }

      .main_info_li a
      {
        font-size: 1.3em;
        height: 60px;
      }

      .footer_info
      {
        font-size: 1.2em;
        height: 70px;
        position: relative;
        top: 10px;
      }

      .event_icon
      {
        left: 2px;
        
        float: none;
      }

      .event_text
      {
        top: 10px;
      }

      #saturday_event
      {
        height: 230px;
      }

      .weather_report
      {
        width: 93%;
        margin-bottom: 50px;
        height: 350px;

        left: 0%;
        right: 0%;
        



        background: rgb(50,61,255);
        background: -moz-linear-gradient(180deg, rgba(50,61,255,1) 0%, rgba(139,174,255,0.9528186274509804) 100%);
        background: -webkit-linear-gradient(180deg, rgba(50,61,255,1) 0%, rgba(139,174,255,0.9528186274509804) 100%);
        background: linear-gradient(180deg, rgba(50,61,255,1) 0%, rgba(139,174,255,0.9528186274509804) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#323dff",endColorstr="#8baeff",GradientType=1);
      }

#main_image
{
  visibility: hidden;
}
      .main_image_area
      {
        height: 400px;
      
      }

      .col-head
      {
        font-size: 1.7em;
      }


}

