

/*Both of these are downloaded from Google fonts*/
@font-face
	{
		font-family: Roboto;
		src: url(fonts/Roboto-Medium.ttf);
		/*src: url(fonts/hurtmold.ttf),
		src: url(fonts/hurtmold.woof),
		src: url(fonts/hurtmold.woof2);*/
	}

body {
    background: rgb(255,255,255);
    background: -moz-radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(228,228,228,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(228,228,228,1) 100%);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(228,228,228,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#e4e4e4",GradientType=1);
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    font-family: Roboto;
    
  }

  .name {
    letter-spacing: .1 em;
    font-family: Roboto;
    letter-spacing: 3px;
  
    font-size: 4em;
    color: white;

   
  }
  .logo_and_title
  {
    display: flex;
    align-items: center;
    justify-content: center
    
  }
  #sun
  {
    width: 90px;
    height: 90px;
    float: left;
    position: relative;
    right: 15px;
    bottom: 4px;
  }


.motto
{
  color: white;
  font-family: Roboto;
  position: relative;
  bottom: 50px;
  
}


nav ul { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15%, 1fr));
  list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
  
}

nav {	
	text-align: center;
	margin-left: auto;
  margin-right: auto;
  position: relative;
  bottom: 30px;
  font-family: Roboto;
  text-decoration: none;
}

nav a {
	display: block;
	background-color: #36454f;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
  color: white;
}

nav a:hover {
	background-color: #bbb;
	color: #36454f;
}

nav ul li a:active, .active_link{
  background-color: rgb(255, 255, 255);
	color: #36454f;
  -webkit-box-shadow:inset 0px 0px 0px 3px #36454f;
  -moz-box-shadow:inset 0px 0px 0px 3px #36454f;
  box-shadow:inset 0px 0px 0px 3px #36454f;
}

.box
{
  height: 180px;
  margin-bottom: 40px;
}

.box,  footer {

display: block;
margin-left: auto;
margin-right: auto;
margin-top: 40px;

text-align: center;

background: rgb(0,53,76);
background: -moz-linear-gradient(90deg, rgba(0,53,76,1) 0%, rgba(0,81,109,1) 50%, rgba(0,53,76,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(0,53,76,1) 0%, rgba(0,81,109,1) 50%, rgba(0,53,76,1) 100%);
background: linear-gradient(90deg, rgba(0,53,76,1) 0%, rgba(0,81,109,1) 50%, rgba(0,53,76,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00354c",endColorstr="#00354c",GradientType=1);
}


  #profile_img {
    
    border-radius: 30px;
    -webkit-box-shadow: 5px 5px 15px 5px #A3A3A3; 
    box-shadow: 5px 5px 15px 5px #A3A3A3;
    height: auto;
    max-width: 250px;
    position: relative;
    margin: 30px 25px 30px 25px;
    float: right;
    
  }
  .weather_report
  {
    position:absolute;
    top: 0px;
    
    left: 5%;
    right: 5%;
    

    height: 400px;
    padding: 1.5rem;

    background: rgb(50,61,255);
    background: -moz-linear-gradient(180deg, rgba(50,61,255,1) 0%, rgba(139,174,255,0) 100%);
    background: -webkit-linear-gradient(180deg, rgba(50,61,255,1) 0%, rgba(139,174,255,0) 100%);
    background: linear-gradient(180deg, rgba(50,61,255,1) 0%, rgba(139,174,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#323dff",endColorstr="#8baeff",GradientType=1);
  }

  .main_image_area
  {
    position: relative;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    

    
  }

  #main_image
  {
    width: 100%;
  }
  nav a{
    text-decoration: none;
  }

  main{
      
      background-color: white;
     
  }
  
  .main_margins
  {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .mobile
  {
    display: none;
  }

  .main_info_li
  {
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 20px;
    list-style-type: none;
    
  }

  .main_info_li a
  {
    display: block;
    text-decoration: none;
    color: white;
    height: 50px;
    background-color: rgba(11,83,195,1);
  }

  .li_text a:hover
  {
    color: black;
    background-color: darkblue;
  }

  .main_info_text
  {
    position: relative;
    top: 14px;
    left: 20px;
  }

  .footer_info
  {
    font-family: Roboto;
    color: white;
    
  }

  .footer_info
  {
    text-decoration: none;
    font-size: .9em;
  }
  footer a:visited
  {
    color: white;
  }

  .ham
  {
    display: none;
  }

  #saturday_event
  {
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    font-size: 1.5em;
    font-family: Roboto;
    border-radius: 30px;

    background: rgb(255,187,134);
    background: -moz-linear-gradient(29deg, rgba(255,187,134,1) 0%, rgba(255,217,139,1) 100%);
    background: -webkit-linear-gradient(29deg, rgba(255,187,134,1) 0%, rgba(255,217,139,1) 100%);
    background: linear-gradient(29deg, rgba(255,187,134,1) 0%, rgba(255,217,139,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffbb86",endColorstr="#ffd98b",GradientType=1);

    height: 160px;
    align-items: center;
    justify-content: center;

    margin-bottom: 20px;

  }

  .event_icon
  {
    position: relative;
    right: 45px;
    
    float: left;
    width: 120px;
    height: auto;
    border-radius: 10px;
    -webkit-box-shadow: -4px 7px 15px 4px rgba(61,39,26,0.42); 
    box-shadow: -4px 7px 15px 4px rgba(61,39,26,0.42);
  }
  .event_text
  {
    position: relative;
    top: 28px;
    width: 600px;
    color: rgb(107, 39, 0);
  }


  /* Column styling and layout */


  .col-head {
    display: block;
    padding: 5px;
    border-bottom: 2px solid rgb(255, 255, 255);
    border-top: 2px solid rgb(255, 255, 255);
    text-align: center;
    font-size: 2em;
    text-align: center;
  }


.column {
  font-family: Roboto;
	column-count: 7;
	column-gap: 0;
  max-width: 900px;
  
  
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-left: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgb(255, 255, 255);
}

.column img {
	width: 40%;
}
.column-col {
	height: 300px;
  
  border-bottom: 2px solid rgb(255, 255, 255);
	border-left: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgb(255, 255, 255);
	text-align: center;
  color: white;
}
.high, .low
{
  font-size: 1.8em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}



.weather_icon
{
  max-width: 40px;
  height: auto;
  position: relative;
  top: 35px;
}

.low
{
  position: relative;
  top: 70px;
}

.data
{
  position: relative;
  top: 20px;
  
}
