/*Both of these are downloaded from Google fonts*/
@font-face
	{
		font-family: Roboto;
		src: url(fonts/Roboto-Medium.ttf);
		/*src: url(fonts/hurtmold.ttf),
		src: url(fonts/hurtmold.woof),
		src: url(fonts/hurtmold.woof2);*/
	}

/*@font-face
	{
		font-family: Roboto-Thin;
		src: url(fonts/Roboto-Thin.ttf);
		/*src: url(fonts/hurtmold.ttf),
		src: url(fonts/hurtmold.woof),
		src: url(fonts/hurtmold.woof2);
	}*/
@font-face
{
  font-family: Roboto;
  src: url(Numans-Regular.ttf);
  
}


body {
    background: rgb(255,255,255);
    background: -moz-radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(228,228,228,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(228,228,228,1) 100%);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(228,228,228,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#e4e4e4",GradientType=1);
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    
    
  }

  .name {
    letter-spacing: .1 em;
    font-family: Roboto;
    letter-spacing: 3px;
  
    font-size: 4em;
    color: white;

   
  }
  .logo_and_title
  {
    display: flex;
    align-items: center;
    justify-content: center
    
  }
  #sun
  {
    width: 90px;
    height: 90px;
    float: left;
    position: relative;
    right: 15px;
    bottom: 4px;
  }


.motto
{
  color: white;
  font-family: Roboto;
  position: relative;
  bottom: 50px;
  
}


nav ul { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15%, 1fr));
  list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
  
}

nav {
	background-color: #36454f;
	text-align: center;
	
  
  
	margin-left: auto;
  margin-right: auto;
  position: relative;
  bottom: 30px;
  font-family: Roboto;
  text-decoration: none;
}

nav ul li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
 
}
nav a:hover {
	background-color: #bbb;
	color: #36454f;
}

.box
{
  height: 180px;
  margin-bottom: 40px;
}

.box,  footer {

display: block;
margin-left: auto;
margin-right: auto;
margin-top: 40px;

text-align: center;

background: rgb(0,53,76);
background: -moz-linear-gradient(90deg, rgba(0,53,76,1) 0%, rgba(0,81,109,1) 50%, rgba(0,53,76,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(0,53,76,1) 0%, rgba(0,81,109,1) 50%, rgba(0,53,76,1) 100%);
background: linear-gradient(90deg, rgba(0,53,76,1) 0%, rgba(0,81,109,1) 50%, rgba(0,53,76,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00354c",endColorstr="#00354c",GradientType=1);
}


  #profile_img {
    
    border-radius: 30px;
    -webkit-box-shadow: 5px 5px 15px 5px #A3A3A3; 
    box-shadow: 5px 5px 15px 5px #A3A3A3;
    height: auto;
    max-width: 250px;
    position: relative;
    margin: 30px 25px 30px 25px;
    float: right;
    
  }

  nav a{
    text-decoration: none;
  }

  main{
      
      background-color: white;
     
  }
  
  .main_margins
  {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    
    
  }

  /*.footer_info, a:link, a:visited
  {
    font-size: .9em;
  }*/

  .mobile
  {
    display: none;
  }

  .main_info_li
  {
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 20px;
    list-style-type: none;
  }

  .main_info_li a
  {
    display: block;
    text-decoration: none;
    color: white;
    height: 50px;
    background-color: rgba(11,83,195,1);
  }

  .main_info_li a:hover
  {
    background-color: darkblue;
  }
  .main_info_text
  {
    position: relative;
    top: 14px;
    left: 20px;
  }

  .footer_info, main
  {
    font-family: Roboto;
    color: white;
    
  }

  .footer_info
  {
    text-decoration: none;
    font-size: .9em;
  }

  .footer_info, a:visited
  {
    color: white;
    
  }
  .ham
  {
    display: none;
  }
