@media only screen and (max-width: 630px)
{
    #sun
    {
        width: 70px;
        height: auto;
    }

    .name
    {
        font-size: 3em;
    }

    .box
    {
        height: 130px;
    }

    .motto
    {
        position: relative;
        left: 20px;
    }
}