@media only screen and (max-width: 1216px)
{
    body{
        width: 85%;
    }

    nav ul { 
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    }
    nav ul li a
    {
        font-size: 1.3em;
        border: 1px solid #0c0d33;
    }
    #saturday_event
    {
        width: 100%;
    }

    .column
    {
        margin-top: 20px;
    }
}