@media only screen and (max-width: 630px)
{
    #sun
    {
        width: 70px;
        height: auto;
    }

    .name
    {
        font-size: 3em;
    }

    .box
    {
        height: 130px;
    }

    .motto
    {
        position: relative;
        left: 20px;
    }
    .weather_report
    {
top: 30px;
height: 290px;
    }

    .event_text
    {
      font-size: .9em;
    }

    .main_image_area
    {
        margin-top: -30px;
    }
    
    .column-col {
        height: 250px;
    }

    .col-head {
font-size: 1.5em;
    }
    
}