@media only screen and (max-width: 670px)
{
    body
    {
        width: 95%;
    }

    nav { 
        
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }

      nav ul
      {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        font-size: 1.3em;
        
        
      }

      nav li{
        display: none;
      }

      nav ul li a
      {
        height: 30px;
        border: 1px solid #0c0d33;
        font-size: 1em;
      }

 
      .li_text
      {
        position: relative;
        top: 3px;
      }

      .mobile
      {
          display: block;
          background-color: rgb(29, 33, 53);
          
      }

      .ham
      {
        display: block;
        
        background-color: rgb(46, 46, 46);
      }
      
      .ham_text
      {
        outline: 0px;
        position: relative;
        top: 3px;
      }



      nav li:first-child {
        display: block;
        
      }

      .responsive li {
        display: block;
      }

      .main_margins
      {
        width: 90%;
        
      }

      .main_info_li a
      {
        font-size: 1.3em;
        height: 60px;
      }

      .footer_info
      {
        font-size: 1.2em;
        height: 70px;
        position: relative;
        top: 10px;
      }

  

      .event_text
      {
        top: 10px;
      }

    

      .weather_report
      {
        width: 93%;
        height: 350px;
        left: 0%;
        right: 0%;
      }

      #five_day_title
      {
        font-size: 2em;
        position: relative;
        left: 2%;
      }

      .weather_today li
      {
        font-size: .85em;
       
      }

    

      .col-head
      {
        font-size: 1.7em;
      }

      #main_image
      {
        margin-bottom: 50px;
      }

  

      .article_img_right
      {
        float: none;
        display: block;      
        padding-left: 0px;
        width: 100%; /* width of container */
        height: 350px; /* height of container */
        object-fit: cover;
        object-position: 0% 100%; /* try 20px 10px */ 
        
      }

      .uppper_footer
      {
       height: 700px;
       
      }

      .map
      {
        width: 80%;
        height: 400px;
        display: block;
        margin-left: 8%;
        
        text-align: center;
      
      }
      .uppper_footer_text
      {
        position: relative;
    
        text-align: center;
        font-size: 1.2em;
        
        
      }

      .uppper_footer li
      {
        position: relative;
        right: 15px;
      }
}


/*To whoever is correcting this:

I don't know if you allow a "super_small.css" file, so I'm putting
the super small attributes here*/
@media only screen and (max-width: 630px)
{

  .weather_today
  {
    width: 200px;
    
    display: block;
    margin: 0 auto;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .weather_today ul
  {
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    font-size: 1.1em;
  }

  .weather_today li
  {
    margin-top: 0px;
    margin-bottom: 0px;
    left: -6%;
  }


  .logo_and_title
  {
    display: inline;
  }

  .box
  {
    height: 180px;
  }
  
  .name 
  {
    font-size: 11vw;
    position: relative;
    top: 10px;
    margin: 0;
  }

  #sun
  {
    top: 10px;
    float: none;
    display: block;
    left: 4px;
    width: 60px;
    height: auto;
  }

  .motto
  {
    margin: 0;
    top: 10px;
  }

    .weather_report
    {
      top: 30px;
      height: 290px;
    }

    #saturday_event
    {
     


    }

    .event_text
    {
      display: block;
      margin: 0 auto;
  
    }

    .main_image_area
    {
      margin-top: -30px;
    }
    
    .column-col {
      height: 250px;
    }

    .col-head {
      font-size: 5vw;
    }


    #main_image
    {
      margin-top: 20px;
    }
    .map
    {
      width: 90%;
      margin-left: 0%;
    }
    #sun
    {
      bottom: 20px;
      display:inline;
    }


}
@media only screen and (max-width: 530px)
{
  .event_text
  {
    width: 100%;
    font-size: .7em;
  }

  .high, .low
  {
    font-size: 1.2em;
  }

}

@media only screen and (max-width: 530px)
{
  .event_text
  {
    width: 90%;
    font-size: .7em;

  }
}