@media only screen and (max-width: 1216px)
{


    /*#gallery
    {
      grid-template-columns: 1fr 1fr;
      
    }*/

    .main_image_area
    {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin: auto;
      
      height: 1000px;
      
    }

    .main_image_area_preston
    {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin: auto;
      
      height: 100%;
      
    }

    #main_image
    {
      display: none;
      
    }

    .towns
    {
      margin-left: 2.5%;
      top: 450px;
      width: 75%;
      grid-template-columns: 100%;
      text-align: center;
    }

    .home_img
    {
     /* min-width: 50%;
      max-width: 100%;*/
      min-width: 380px;
      max-width: 380px;
      /*margin-right: 40%;*/
      
      
    } 
    
    .data
    {
      
    }

    .year_founded, .population, .rain_fall
    {
       width: 200px;
    }


    .town
    {
      padding-right: 30px;
      padding-left: 30px;
      height: 290px;

    }

    .article_grid
    {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
     grid-gap: 1%;
      

    }
    
  
    
    .town:nth-child(odd) img {
      grid-column: 2;
      
    }
    
    .town:nth-child(odd) .data {
      grid-column: 1;
      grid-row: 1;
      margin-left: -20px;

    }
    



   /* nav ul { 
      grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
    }*/
    
    nav ul { 
      grid-template-columns: repeat(auto-fill, minmax(248px, 1fr));
    }



    nav ul li a
    {
      font-size: 1.3em;
      border: 1px solid #0c0d33;
    }



    .weather_today
    {
      
      
      display: block;
      margin: 0 auto;
      
      top: 540px;
      left: 25%;
      transform: translate(-50%, -50%);
      list-style-type: none;

    }



/*.weather_today li
{
  -webkit-box-shadow: -1px 0px 15px 4px rgba(31,24,158,0.46); 
  box-shadow: -1px 0px 15px 4px rgba(31,24,158,0.46);
  height: 3vw;
  font-size: 1.3em;
  margin-top: 3%;
  margin-bottom: 3%;
  list-style-type: none;
  background: rgb(108,50,255);
  background: -moz-linear-gradient(180deg, rgba(108,50,255,0.908000700280112) 0%, rgba(46,78,255,0.927608543417367) 100%);
  background: -webkit-linear-gradient(180deg, rgba(108,50,255,0.908000700280112) 0%, rgba(46,78,255,0.927608543417367) 100%);
  background: linear-gradient(180deg, rgba(108,50,255,0.908000700280112) 0%, rgba(46,78,255,0.927608543417367) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6c32ff",endColorstr="#2e4eff",GradientType=1);
}*/
    .column
    {
        margin-top: 20px;
    }






    #storm_form_section
    {
      height: 1600px;
    }

    #storm_form
    {

      top: 1200px;

    }

    input[type=radio]
    {
      margin-top: 12px;
      margin-bottom: 12px;
      transform: scale(1.8);
    }

    .bar::-webkit-slider-thumb
    {
      height: 40px;
      width: 40px;
    }

    .bar::-moz-range-thumb
    {
      height: 40px;
      width: 40px;
    }

    .bar
    {
      margin-top: 35px;
      margin-bottom: 35px;
      height: 10px;
    }
    label, #radio_buttons_header
    {
      font-size: 1em;
    }
}