body
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: rgb(182,182,182);
    background: -moz-linear-gradient(90deg, rgba(182,182,182,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(182,182,182,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(90deg, rgba(182,182,182,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b6b6b6",endColorstr="#ffffff",GradientType=1);
    font-family: roboto;
}

h1
{
    text-align: center;
    letter-spacing: 2px;
    font-size: 2.3em;
    
}

h2
{
    text-align: center;
    margin-bottom: -10px;
}
h3
{
    text-align: center;
}

.cards{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    /*grid-template-columns: 33% 33% 33%; */
    gap: 30px;
    width: 100%;
    margin-left: auto;
    margin-right:auto;
    justify-content: center;
    align-content: center;
  }

  section{
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    /*border: 5px solid #1C6EA4;*/
  }


img
{
    width: 250px;
    height: 320px;
    margin-bottom: 20px;    
    border: 15px solid #999999;
}

footer
{
    text-align: center;
}